

body {
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f6f7fc;
    color: rgba(0,0,0,.5);
}
#gradient{
    position: relative;
    background: linear-gradient(45deg, #000000 , #000000);
    width: 250px;
    height: 320px;
    border-radius: 25px;
    margin-bottom: 50px;
    box-shadow: 2px 31px 35px -15px rgba(0,0,0,0.64);
}
h1{
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgba(0,0,0,.7);
    margin-left:250px;
    padding: 3rem;
}
input{
    border-radius: 0px;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}
input::-webkit-color-swatch-wrapper {
    padding: 0; 
}
input::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    letter-spacing: .3em;
    width: 60%;
    margin: 2rem auto;
}
h4{
    font-family: monospace;
    font-size: 1.3rem;
}
.code_part{
    margin: auto 6rem;
    width: 50%;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

select{
    width: 20%;
    height: 40px;
    text-align: center;
    border: none;
    background: #15b8c4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}
option{
    background: #e997ca;
    border: none;
}